* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.cartao {
  background-color: #00b894;
  color: white;
  padding: 40px;
  border-radius: 6px;
  text-align: center;
}
